@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

* {
    font-family: "Nunito", sans-serif;
}

.order-3 {
    margin-left: 3%;
}

nav img {
    width: 150px;
}
